extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1=titulo

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempus ligula orci, eu fringilla nibh consequat vitae. Praesent nec nisl suscipit, tincidunt est vel, maximus diam. Sed vel orci efficitur nisi suscipit bibendum ullamcorper nec tortor. Nullam libero lectus, mollis vitae cursus sit amet, tempor sit amet lacus. Duis ac imperdiet nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus tincidunt lacus lectus. In vel velit sollicitudin

                p Nulla vel urna id lectus convallis viverra ut in felis. Duis ac magna eget massa volutpat viverra vel ut libero. Mauris elementum in purus sit amet lobortis. Integer purus justo, laoreet vel condimentum eu, pretium id nisi. Nullam molestie dolor ut placerat rutrum. Fusce tristique turpis quis justo semper, non ullamcorper neque bibendum. Phasellus nec iaculis neque, sit amet semper justo. Maecenas non bibendum nisl.

                p Nunc laoreet convallis commodo. Morbi rutrum, arcu sed sodales aliquet, ante orci ultricies orci, eget sollicitudin nisi nulla ut felis. Pellentesque egestas lobortis elit, nec venenatis turpis varius ut. Curabitur vel turpis sed nulla lacinia sodales. Praesent auctor hendrerit risus, ac dignissim augue interdum consequat. Suspendisse tristique eget turpis in pellentesque. Proin non rhoncus arcu. Sed vehicula egestas lectus

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa doloremque expedita placeat voluptatem qui atque in quibusdam voluptates
                    
                .col-md-4
                    img(src="img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa doloremque expedita placeat voluptatem qui atque in quibusdam voluptates
                .col-md-4
                    img(src="img/icono_precio.svg" alt="icono precio" class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precio 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa doloremque expedita placeat voluptatem qui atque in quibusdam voluptates